.cards-layout-masonry {
    border: 3px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
}

.card_1 {
    border: 1px solid black;
    width: 220px;
    height: 420px;
}

.card_1 img {
    width: 220px;
}

.card_1 section {
    padding: 10px;
}

.card_1 section footer {
    border-top: 1px solid black;
    padding-top: 10px;
}


.card_2 {
    border: 1px solid black;
    width: 220px;
    height: 500px;
  
}

.card_2 img {
    width: 220px;
}

.card_2 section {
    padding: 10px;
}

.card_2 section footer {
    border-top: 1px solid black;
    padding-top: 10px;
}


.card_3 {
    border: 1px solid black;
    width: 220px;
    height: 700px;
  
}

.card_3 img {
    width: 220px;
}

.card_3 section {
    padding: 10px;
}

.card_3 section footer {
    border-top: 1px solid black;
    padding-top: 10px;
}


.card_4 {
    border: 1px solid black;
    width: 220px;
    height: 500px;
  
}

.card_4 img {
    width: 220px;
}

.card_43 section {
    padding: 10px;
}

.card_4 section footer {
    border-top: 1px solid black;
    padding-top: 10px;
}