@media screen 
and (min-width: 1025px) 
and (max-width: 1200px) {
    span {
        position: absolute;
        border: 1px solid black;
        margin-top: -20px;
        margin-left: -135px;
    }
    
    .timeline {
        border-left: 6px solid grey;
        height: 90%;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        bottom: 0;
    }
    
body {
    border: 1px solid red;
    }

    article {
        width: 90%;
        font-size: 14px;
    }
    
    h3 {
        font-style: italic;
    }
    
    ul {
        text-align: right;
    }
    
    .article_1, .article_3, .article_5, .article_7 {
        border: 1px solid black;
        position: absolute;
        left: 50%;
        margin-left: 30px;
        width: 50%;

    }
    
    .article_2, .article_4, .article_6 {
        border: 1px solid green;
        
        text-align: end;
        width: 50%;
        margin-top: 50px;
        margin-right: 50px;
        
    }
    
    .green-ball {
        background-color: green;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid grey;
        position: relative;
        margin-left: -43px;
        margin-bottom: -22px;
    }
    
    .orange-ball {
        background-color: orange;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid grey;
        margin-left: -14px;
    }
}